* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
.html{
    scroll-behavior: smooth;
    margin: auto;
    padding: 0;
}  
.body{
    margin: auto;
    max-width: 1280px;
    height: auto;
}
.header{
    margin: 30px auto;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}
.logo{
    width: 184px;

}
.logo1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.logo2{
    padding-top: 15px;
    font-family: 'Arial';
    font-weight:500;
    font-style: normal;
    font-size:13px;
    line-height:15px;
    letter-spacing: 0.09em;
    color: #292929;
}
.header__nav__menu{
    width: 443px;
    display: flex;
    align-items: center;
}
.nav__menu{
    width: 100%;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.item__nav_active{
    border-bottom: 3px solid #F1CDB3;;
}
.item__nav{ 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
}
.item__nav:hover{
    color: whitesmoke;
    transition: all 0.1s;
    border-bottom: 3px solid #F1CDB3;
}
.pets{
    margin: auto;
    max-width: 1280px;
    min-height: 1342px;
    border-top: 1px solid transparent;
}
.heading{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    /* or 45px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    color: #545454;
}
.pets__contents{
    margin: 80px auto 0;
    max-width: 1200px;
    height: 1189px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
}
.cards__contents{
    max-width: 1200px;
    min-height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
.pets{
    background-color: #F6F6F6;
}
.pets_card{
    max-width: 270px;
    height: 408px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pets__images{
    width: 270px;
    height: 270px;
    left: 105px;
    top: 0px;
    background: #FAFAFA;
    border-radius: 9px;
}
.pets__button{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: white;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}
.pets__button:hover{
    
    cursor: pointer;
    background: hsl(18, 64%, 72%);
    color: #F5F5F5;
    
}
.pets__name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    color: #545454;
}
.navigations{
    max-width: 360px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.pets__button__arrow{
    width: 52px;
    height: 52px;
    border-radius: 100px;
}
.pets__button__arrow:hover{
    cursor: pointer;
    background: hsl(18, 64%, 72%);
    color: #F5F5F5;
}   
.left{
    border: 2px solid #CDCDCD;
}
.number{
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}
.right{
    border: 2px solid #F1CDB3;
}
.right:hover{

    cursor: pointer;
    background: hsl(18, 64%, 72%);
    color: #F5F5F5;
}


footer{
    margin: auto;
    max-width: 1280px;
    min-height: 350px;
    background: url(images/footer-gradient-background.png);
    border-top: 1px solid transparent;
}
.footer__content{
    margin: 40px auto 0;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer__contact{
    min-height: 234px;
    max-width: 300px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.foter__contact__titele{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    /* or 45px */
    letter-spacing: 0.06em;
    
    /* color-light-xl */
    color: #FFFFFF;
    
    
}
.foote__location{
    margin-left: -9px;
    min-height: 234px;
    max-width: 300px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.footer__location_title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    /* or 45px */
    letter-spacing: 0.06em;
    
    /* color-light-xl */
    color: #FFFFFF;
  
}
.footer__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer_list-item{
    margin: 0;
    gap:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: baseline;
}
.footer__icons{
    width: auto;
    height: 32px;
    margin-top: 10px;
}
